<?xml version="1.0"?>

<robot name="swarm_agent" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find topological_swarm)/urdf/agent.gazebo" />

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <!-- root link, on the ground just below the model origin -->
  <link name="base_footprint">
   <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <material name="white"/>
  </link>

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>

  <!-- the spherical model -->
  <link name="base_link">
    <inertial>
      <mass value="50" />
      <origin xyz="0 0 0" />
      <inertia ixx="50.0" ixy="0.0" ixz="0.0"
        iyy="50.0" iyz="0.0"
        izz="50.0" />
    </inertial>
    <collision name="base_link_collision">
      <origin xyz="0 0 0" rpy=" 0 0 0"/> 
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

</robot>
