<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Send urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find topological_swarm)/urdf/agent.xacro'" />

  <!-- Send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!-- Agent 1 -->
  <group ns="agent1">
    <!-- <param name="tf_prefix" value="robot1_tf" /> -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
    <node name="urdf_spawner"
      pkg="gazebo_ros"
      type="spawn_model"
      respawn="false" 
      output="screen"
      args="-urdf -param /robot_description -x 2.0 -y 2.0 -z 0.4 -model swarm_agent1"/>
    <node name="publish_velocity"
      pkg="topological_swarm"
      type="topological_swarm_pubvel"
      output="screen" />
    <node name="subscribe_to_contact"
      pkg="topological_swarm"
      type="topological_swarm_subcontact"
      output="screen" />
  </group>

  <!-- Agent 2 -->
  <group ns="agent2">
    <!--<param name="tf_prefix" value="robot2_tf" /> -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
    <node name="urdf_spawner"
      pkg="gazebo_ros"
      type="spawn_model"
      respawn="false" 
      output="screen"
      args="-urdf -param /robot_description -x 2.0 -y -2.0 -z 0.4 -model swarm_agent2"/>
    <node name="publish_velocity"
      pkg="topological_swarm"
      type="topological_swarm_pubvel"
      output="screen" />
    <node name="subscribe_to_contact"
      pkg="topological_swarm"
      type="topological_swarm_subcontact"
      output="screen" />
  </group>
</launch>
